// colors

// Primary colors
$siro-green: #1c3532;
$siro-black: #000000;
$siro-white: #ffffff;

// Secondary colors
$siro-yellow: #eef90c;

// Tertiary  colors
$siro-tan: #cca58e;
$siro-light-green: #b7cfa6;
$siro-dark-green: #0f1615;
$siro-dark-grey: #606060;

// tint colors
$siro-tint-green: #d9eeca;
$siro-mid-grey: #c1c1c1;
$siro-zen-grey: #e9e9e9;
$siro-light-grey: #f8f8f8;

// state colors siro
$siro-state--success: #4b9267;
$siro-state--success-light: #caf0d0;
$siro-state--warning: #d3af51;
$siro-state--warning-light: #f8ecce;
$siro-state--error: #c2454b;
$siro-state--error-light: #f3cdcf;
$siro-state--info-light: lightblue;

// animations
$transition-time: 0.3s;
$transition-name: ease-in-out;
